body,
html {
  height: 100%;
  position: relative;
}

.vitrine-categorias ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0;
  justify-content: space-between;
}

.vitrine-categorias ul li {
  margin: 18px 0px;
  width: 350px;
  height: 300px;
  background-color: red;
}

.vitrine-categorias ul li div {
  background-color: blue;
  height: 100%;
}
.vitrine-categorias ul li h4 {
  text-align: center;
  color: #fff;
}


/* */


footer.footer--psmagnetica {
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer.footer--psmagnetica h4 {
  color: #000;
  font-weight: 400;
  font-family: "Roboto Condensed";
  letter-spacing: -1px;
}
footer.footer--psmagnetica h5 {
  font-family: "Roboto Condensed";
  font-weight: 400;
}
footer.footer--psmagnetica ul.menu--footer li{
  padding: 3px 0;
}
footer.footer--psmagnetica ul.menu--footer {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer.footer--psmagnetica ul.list--socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
footer.footer--psmagnetica ul.list--socials li {
  padding-right: 6px;
  margin: 6px 0px;
  color: #666;
}
footer.footer--psmagnetica ul.list--socials li i {
  background-color: #e4e4e4;
  border: 1px solid #6666;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 7px 0px 0px 10px;
  transition: all 0.3s;
}
footer.footer--psmagnetica ul.list--socials li i:hover {
  background-color: #ccc;
  cursor: pointer;
}

.shild {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #9999;
}
